<div>
     <!-- 
      =============================================
        Footer
      ============================================== 
      -->
      <footer class="bg-one">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="footer-logo">
                <a href="index.html"><img src="../images/logo/logo.png" alt="Logo"></a>
                <h5><a href="#" class="tran3s">gulluinc@gmail.com</a></h5>
                <h6 class="p-color">202. 277. 3894</h6>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-list">
              <h4>Quick Links</h4>
              <ul>
                <li><a href="#" class="tran3s">How it Works</a></li>
                <li><a href="#" class="tran3s">Guarantee</a></li>
                <li><a href="#" class="tran3s">Security</a></li>
                <li><a href="#" class="tran3s">Report Bug</a></li>
                <li><a href="#" class="tran3s">Pricing</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-list">
              <h4>About Us</h4>
              <ul>
                <li><a href="#" class="tran3s">About Singleton</a></li>
                <li><a href="#" class="tran3s">Jobs</a></li>
                <li><a href="#" class="tran3s">Team</a></li>
                <li><a href="#" class="tran3s">Testimonials</a></li>
                <li><a href="#" class="tran3s">Blog</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 footer-subscribe">
              <h4>Subscribe Us</h4>
              <form action="#">
                <input type="text" placeholder="Enter your mail">
              </form>
              <ul>
                <li><a href="" class="tran3s"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="" class="tran3s"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="" class="tran3s"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                <li><a href="" class="tran3s"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div> <!-- /.row -->

          <div class="bottom-footer clearfix">
            <ul class="float-right">
              <li><h3><span class="timer p-color" data-from="0" data-to="8997" data-speed="5000" data-refresh-interval="50">0</span> Products</h3></li>
              <li><h3><span class="timer p-color" data-from="0" data-to="53701" data-speed="5000" data-refresh-interval="50">0</span> Members</h3></li>
              <li><h3><span class="timer p-color" data-from="0" data-to="1110" data-speed="5000" data-refresh-interval="50">0</span> Shops</h3></li>
            </ul>
            <p class="float-left">&copy; 2017 <a href="#" class="tran3s p-color">CreativeGigs</a>. All rights reserved</p>
          </div>
        </div> <!-- /.container -->
      </footer>


      <!-- Sign-Up Modal -->
      <div class="modal fade signUpModal theme-modal-box" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
                  <h3>Login with Social Networks</h3>
                  <ul class="clearfix">
                    <li class="float-left"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i> facebook</a></li>
                    <li class="float-left"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i> Google</a></li>
                    <li class="float-left"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                    <li class="float-left"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a></li>
                  </ul>
                  <form action="#">
                    <h6><span>or</span></h6>
                    <div class="wrapper">
                      <input type="text" placeholder="Username or Email">
                      <input type="password" placeholder="Password">
                      <ul class="clearfix">
                    <li class="float-left">
                      <input type="checkbox" id="remember">
                      <label for="remember">Remember Me</label>
                    </li>
                    <li class="float-right"><a href="#" class="p-color">Lost Your Password?</a></li>
                  </ul>
                  <button class="p-bg-color hvr-trim-two">Login</button>
                    </div>
                  </form>
              </div> <!-- /.modal-body -->
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
      </div> <!-- /.signUpModal -->

          

          <!-- Scroll Top Button -->
      <button class="scroll-top tran3s">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </button>

      <div id="svag-shape">
        <svg height="0" width="0">
          <defs>
              <clipPath id="shape-one">
                <path fill-rule="evenodd"  fill="rgb(168, 168, 168)"
           d="M343.000,25.000 C343.000,25.000 100.467,106.465 25.948,237.034 C-30.603,336.119 15.124,465.228 74.674,495.331 C134.224,525.434 212.210,447.071 227.280,432.549 C242.349,418.028 338.889,359.517 460.676,506.542 C582.737,653.896 725.650,527.546 751.000,478.000 C789.282,403.178 862.636,-118.314 343.000,25.000 Z"/>
              </clipPath>
          </defs>
        </svg>
      </div>
    <!-- Theme js -->
    <!-- <script type="text/javascript" src="js/theme.js"></script> -->

    </div>