<div class="container">
  <h2>Angent Registrarion</h2>
  <form class="form-horizontal" [formGroup]="registerForm" (ngSubmit)="onFormSubmit(registerForm.value)">

    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="agentId" placeholder="Enter Agent ID" formControlName="agentId">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="sponserId" placeholder="Enter Sponser ID" formControlName="sponserId">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" formControlName="firstName">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" formControlName="lastName">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <select type="text" class="form-control" id="gender" placeholder="Select Gender" formControlName="gender">
        	<option value="male">Male</option>
        	<option value="female">Female</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <input type="date" class="form-control" id="birthDate" placeholder="Date Of Birth" formControlName="birthDate">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="phoneNo" placeholder="Enter Phone Number" formControlName="phoneNo">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="emailId" placeholder="Enter Email Id" formControlName="emailId">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="ssnNumber" placeholder="Enter SSN Number" formControlName="ssnNumber">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="residentAddress" placeholder="Enter Resident Address" formControlName="residentAddress">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="residentSuitApartment" placeholder="Enter Apartment/Suit Name" formControlName="residentSuitApartment">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="residentCity" placeholder="Enter City" formControlName="residentCity">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="residentState" placeholder="Enter State" formControlName="residentState">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="residentZipcode" placeholder="Enter ZipCode" formControlName="residentZipcode">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" id="residentCountry" placeholder="Enter Country" formControlName="residentCountry">
      </div>
    </div>

    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>